.notepad{
  position: relative;
  top: 86px;
  line-height: 40px;
  left: 5%;
  font-size: 25px;
  color: black;
}

.img-responsive {
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;

}

@media screen and (max-width: 990px) {
    #notepad {
        font-size:15px;
        font-weight: bold;
    }

.list {
  text-align: center;
}
